target/
logs/
src/docs/
.mvn/*
!.mvn/extensions.xml
!.mvn/maven-git-versioning-extension.xml

data/*
undelivered-messages/*
*.tgz
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
